body{
    margin: 0;
    padding: 0;
    outline: 0;
}

.banner_main{
    background-image: url(./banner1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    display: flex;
    align-items: center;
}

.banner_main::before {
    position: absolute;
    left: 0;
    bottom: 0;
    content: "";
    height: 50%;
    width: 100%;
    z-index: 1;
    background: linear-gradient(360deg, white 0%, rgba(255, 255, 255, 0) 100%);
}

.banner_main::after {
    position: absolute;
    left: 0;
    top: 0;
    content: "";
    height: 100%;
    opacity: 0.5;
    width: 100%;
    background: #000000 none repeat scroll 0 0;
}

.container{
    max-width: 70%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.banner_text{
    color: white;
}

.banner_text h1{
    font-size: 45px;
    font-family: cursive;
    font-weight: 400;
}

.banner_bold_txt{
    font-weight: 900;
}

.banner_text p{
    font-size: 20px;
    font-family: cursive;
}
.banner_img img{
    width: 100%;
}